/*  Staff Additional Stylesheet */

div.dashblock {
    width: 280px;
    min-height: 90px;
    margin: 1em;
    display: inline-block;
    vertical-align: top;
}

div.dashblock > div.dashblock-title {
    background-color: #7a0032;
    font-weight: 700;
    color: #fff;
    padding: 0.3em 0.6em;
    border: 1px solid #7a0032;
}

div.dashblock > div.dashblock-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0.8em;
}

div.course-flag {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #eee;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
}

div.course-flag > img {
    display: none;
}

div.course-flag.is-active {
    background-color: #c5ffc8;
}

div.course-flag.is-inactive {
    background-color: #ffd5d5;
}

div.course-flag.is-active > img.active {
    display: inline;
}

div.course-flag.is-inactive > img.inactive {
    display: inline;
}

div.course-flag.is-active > img.inactive {
    display: none;
}

div.course-flag.is-inactive > img.active {
    display: none;
}

div.course-flag-nopointer {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #eee;
    border-radius: 4px 4px 4px 4px;
}

div.course-flag-nopointer > img {
    display: none;
}

div.course-flag-nopointer.is-active {
    background-color: #c5ffc8;
}

div.course-flag-nopointer.is-inactive {
    background-color: #ffd5d5;
}

div.course-flag-nopointer.is-active > img.active {
    display: inline;
}

div.course-flag-nopointer.is-inactive > img.inactive {
    display: inline;
}

div.course-flag-nopointer.is-active > img.inactive {
    display: none;
}

div.course-flag-nopointer.is-inactive > img.active {
    display: none;
}